/* Основной стиль для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Стиль для формы */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Стиль для метки */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Стиль для поля ввода */
input[type="text"] {
    width: calc(100% - 22px); /* Уменьшаем ширину для учета отступов и границ */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* Учитываем границы и отступы в ширине */
}

/* Стиль для кнопки */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
